body{
    margin:0;
    padding:0;
}
#container{


    border:0px solid gray;
    margin:auto;
    height:450px;
    width:100%;
    border-radius:20px;
    margin:auto;
    margin-top:150px;
    display:flex;
    gap:20px
}

#navbar{
    background-color: white;
    border:0px solid black;
    height:150px;
}
#container>div:nth-child(1){
    width:40%;
    height:95%;
    margin:auto;
    border:0px solid red;
    padding-left:30px;
}
#container>div:nth-child(2){
    width:56%;
    height:95%;
    margin:auto;
    border:0px solid blue;
    display:flex;
    align-items: center;
    justify-content: center;
}
#a1{
    border:0px solid black;
    margin-top:20px;
    margin:auto;
    width:100%;
    height:150px;
    display:flex;

}
#a1>div{
    width:17%;
    height:90%;
    border:0px solid purple;
    margin:auto;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
#a1>div>img{
    width:50%;
}

#container>div:nth-child(1)>h3{
 font-size:64px;
 font-family:Arial, Helvetica, sans-serif;
 color:rgb(36, 34, 34);
 
margin-bottom:-10px;
}
#container>div:nth-child(1)>button{
    padding:10px 30px;
    border:none;
    border-radius:5px;
    background-color: #1d74f6;
    color:white;
    font-size:15px;
}
#container>div:nth-child(2)>img{
    width:50%;
}

#vid{
width:90%;
height:300px;
border-radius:20px;
margin:auto;

}

#vid>video{
    width:100%;
    border-radius:20px;

}
#a3{
    width:90%;
    height:400px;
    border:0px solid purple;
    margin:auto;
    margin-top:30px;
    display: flex;
}

#a3>div{
    width:48%;
    height:95%;
    border:0px solid red;
    margin: auto;

}
#a3>div>h4{
    font-size: 40px;
}
#a3>div:nth-child(1){
    width:60%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(55, 52, 52);
}
#a3>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("https://swall.teahub.io/photos/small/239-2397236_blue-colour-wallpapers-blue-colour-hd-wallpaper-for.jpg");
}
#a3>div:nth-child(2)>img{
width:60%;
}

#a4{
    width:95%;
    height:350px;
    margin:auto;
    border:0px solid black;
    text-align: center;
    

}
#a4>div:nth-child(2){
    display:flex;
    width:95%;
    height: 80%;
    border:0px solid blue;
    margin:auto;

}
#a4>div:nth-child(2)>div{
    border:0px solid black;
    margin:auto;
    width:30%;
    height:90%;
    border-radius:10px;
    text-align: left;
    display: inline;
    
}
#a4>div:nth-child(2)>div>img{
    width:20%;
    
}

#vid{
    position: relative;
    margin-top:60px;
}

#b1{

    width:30%;
    height:60%;
    position: absolute;
  bottom: 20px;
  right: 20px;

  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
#b1>h1{
  word-spacing:18px;
  font-family: 'Times New Roman', Times, serif;
}
#b1>div{
    border-left:4px solid #8E44AD;
    padding-left:5px;
    color:#8E44AD;
}
#b1>div>h1:nth-child(2){
    color:white;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: lighter;
    
}
#b1>div:nth-child(2){
    border-left:4px solid #D2B4DE;
    padding-left:5px;
    margin-top:20px;
    color:#D2B4DE;
}
#b2>div{
    display:flex;
   
}
#b3>div{
    display:flex;
   
}
#b4>div{
    display:flex;
}
#b2>div>img{
    width:20%;
}
#b3>div>img{
    width:20%;
}
#b4>div>img{
    width:20%;
}
#c1{
    font-size:23px;
    color:rgb(42, 37, 37)
}

#d1{
    width:100%;
    height:400px;
    border:0px solid black;
    margin:auto;
    display:flex;
    margin-top:60px;

}
#d1>div:nth-child(1)>h1{
    font-size:45px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(58, 51, 51)


}
#d1>div{
    width:47%;
    height:90%;
    margin: auto;

}

#btn{
    width:20px 40px;
    padding:16px 40px;
    border:0.4px solid black;
    border-radius: 5px;
    background-color: white;
}
#a4{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border:none;
}
#d1>div{
    display:grid;
    justify-content: center;
    align-items: center;
}

#d2{
    width:95%;
    height:auto;
    border:0px solid black;
    margin:auto;
    margin-top:70px;
    display: flex;

}

#d2>div:nth-child(2){
    width:60%;
    height:90%;
    border:0px solid blue;

}
#d2>div:nth-child(1){
    width:36%;
    height:90%;
    border:0px solid red;
    margin: auto;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:100px;
}
#d2>div:nth-child(2)>video{
    width:100%;
}
#d3{
    width:100%;
    height:300px;
    border:0px solid black;
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    

}
#d3>div{
    width:48%;
    height:90%;
padding-top:30px;
    align-items: center;
    justify-content: center;
    color:rgb(54, 48, 48)
}

#btn1{
    width:20px 40px;
    padding:16px 40px;
    border:0.4px solid black;
    border-radius: 5px;
    background-color: white;  
    padding-right:20px;
}
#d4{
    width:100%;
    height:300px;
    border:0px solid black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:20px;
    border-radius:20px;

}
#z2{
    width:80%;
    height:90%;
    border:0px solid black;
    margin: auto;
    display: flex;

}
#z2>div>img{
    width:20%;
}

#z2>div{
    width:50%;
height:100%;
border:0px solid black;
}
#z2>div:nth-child(2)>img{
    width:90%;
}

#footer{
    margin-top:425px;
}


