body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#navbar {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    width: 97%;
    margin: auto;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
}

#navbar>div>p {
    text-align: center;
    background-color: #f0f6ff;
    padding: 15px 10px;
}

#arrow {
    margin-top: 27px;
    margin-left: -27px;
}

#logo>img {
    width: 200px;
    height: 50px;
}

#lower {
    display: flex;
    justify-content: space-between;
}

#left {
    display: flex;
    gap: 30px;
}

#left>p {
    margin-top: 23px;
    font-weight: 500;
    font-size: 18px;
}

#right {
    display: flex;
    gap: 15px;
}

#right>a>button {
    margin-top: 22px;
}

#contact_btn {
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 7px;
    border: 2px solid #949494;
    font-size: 15px;
    font-weight: 500;
}

#contact_btn:hover {
    background-color: #f2f2f2;
}

button {
    cursor: pointer;
}

#signUp_btn {
    padding: 6px 10px;
    background-color: #0768f8;
    border: 1px solid;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

#signUp_btn:hover {
    background-color: #344da2;
}

#signIn_btn {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 550;
}

#signIn_btn:hover {
    color: #458fff;
}

.heading {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.desc {
    text-decoration: none;
    color: grey;
    margin-top: -15px;
}

#product {
    display: none;
    width: 1000px;
    margin-bottom: 100px;
}

#solutions {
    display: none;
    width: 1000px;
}

#subdown>div {
    display: flex;
    gap: 10px;
}

svg {
    margin-top: 15px;
}

#subdown {
    background-color: #f2f4f7;
}

#dropdown {
    visibility: hidden;
    padding: 0px 32px;
    /* width: 500px; */
    opacity: 1;
    margin-top: -20px;
    /* position: absolute; */
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    /* transform: translateY(-3em); */
    /* z-index: -1; */
    /* transition: all 1s ease 0s, visibility 0s linear 9.3s, z-index 0s linear 0.01s; */
}

/* #dropdown:hover{
    /* visibility: visible; */
/* opacity: 1; */
/* z-index: 1; */
/* transform: translateY(0);
   transition-delay: 0s,0s,0.3s;
} */
#subdown {
    padding: 0px 32px;
    height: 700px;
    /* width: 200px; */
    opacity: 1;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    /* transform: translateY(-3em); */
    /* z-index: -1; */
    /* transition: all 1s ease 0s, visibility 0s linear 9.3s, z-index 0s linear 0.01s; */

}

/* #subdown:hover{
    transform: translateY(0);
    transition-delay: 0s,0s,0.3s;
} */
#product {
    display: none;
}

#resources>#dropdown {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    margin-top: 40px;
    gap: 20px;
}

#subdown>div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* #enterprise>#dropdown{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 500px;
} */
#enterprise>#dropdown>div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

#enterprise>#dropdown {
    margin-top: 40px;
}

#dropdown>div:hover,
#dropdown>li>ul>li:hover {
    cursor: pointer;
    background-color: aliceblue;
}

#dropdown>div {
    margin-bottom: 15px;
    padding: 10px 10px;
}

#dropdown>li>ul>li {
    margin-bottom: 5px;
    padding: 10px 10px;
}

#subdown>div {
    padding: 10px 10px;
}

#subdown>div:hover {
    cursor: pointer;
    background-color: #a8a9ac;
}

#left>p:hover {
    cursor: pointer;
    color: #1b61c9;
}

#navbar>div>p>a {
    text-decoration: none;
    color: #1b61c9;
}

#footer {
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

#footer>div>div>img {
    height: 35px;
}

#upper-footer {
    display: flex;
    justify-content: space-between;
}

#upper-footer>div {
    display: flex;
    gap: 20px;
}

#upper-footer>div>a {
    text-decoration: none;
    color: black;
}

#socials>img {
    height: 16px
}

#lower-footer {
    display: flex;
    justify-content: space-between;
}

#lower-footer>div>a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style-type: none;
}
#virtual_assistant{
    width: 300px;
    height: 505px;
    box-sizing: border-box;
    background-color: white;
}
#bothead{
    text-align: center;
    background-color: #0768f8;
    padding: 0px 10px;
    font-size: 14px;
    color: white;
}
#msg_area{
    height: 75%;
    padding: 0px 12px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#bot{
    width: 35px;
    height: 35px;
    background:url(../images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid ;
}
#robot{
    display: grid;
    align-items: center;
}
#input{
    height: 7%;
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 8px 16px;
    border-radius: 32px;
}
#robot>h3{
    font-size: 16px;
    color: black;
}
#text{
    outline: none;
    font-size: 12px;
    color: black;
    border-radius: 7px;
    padding:0 16px;
    border: solid 1px #777;
}
#send{
    outline: none;
    font-size: 12px;
    color: black;
    border-radius: 7px;
    border: none;
    border: 1px solid grey;
    transition-duration:0.2s;
    background-color: #0768f8;
    color: white;
}
#send:active{
    font-size: 8px;
    border: solid 1px;
    background-color: #052d69;
}
.msg-left{
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-top: -10px;
}
.msg-right{
    text-align: end;
    font-size: 12px;
    border: 1px solid;
    border-radius: 7px;
    border-color: #052d69;
    color: #052d69;
    font-size: 16px;
}
.msg-right:hover{
    background-color: #052d69;
    color: white;
}
#icon{
    position: fixed;
    bottom: 0;
    right: 0;
}
#virtual_assistant{
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
}
#bothead{
    display: flex;
    justify-content:space-between;
}
#bothead>i{
    margin-top: 23px;
}
#icon:hover{
    cursor: pointer;
}
#close:hover{
    cursor: pointer;
}