        body {
            font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            margin: 0%;
            padding: 0%;
            background-image: url("https://static.airtable.com/images/blurred_base@2x.png");
            background-size: 100% 100%;
            opacity: 3;
        }

        #box {
            width: 42%;
            background-color: white;
            border: 1px solid white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2.5%;
            margin-bottom: 2%;
            border-radius: 5px;
        }

        #img_header {
            padding: 3%;
            background-color: #f2f2f2;
            border: 0px;
        }

        #img_div {
            text-align: center;
        }

        #img_div img {
            width: 200px;
        }
      
        #signin_head {
            display: flex;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;
            margin-top: 40px;
        }

        #signin_lock {
            margin-bottom: 40px;
        }

        i {
            color: #cccccc;
            font-size: x-small;
        }

        p {

            display: inline;
        }

        #p_p {
            font-size: xx-large;
        }

        #createAcc {
            padding-top: 10px;
            margin-right: 2%;
        }

        #createAcc a {
            font-size: medium;
            font-weight:600;
            text-underline-offset: 5px;
            color:#748bfa;

        }

        #content {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        input {
            width: 95%;
            padding: 2%;
            font-size: medium;
            border: 2px solid rgb(204, 204, 204);
            background-color: #f2f2f2;

        }

        #inp_buts a {
            font-size: medium;
            color: #b3aca5;
        }

        #signin_btn {
            width: 100%;
            padding: 2.5%;
            margin: 15px 0px 25px 0px;
            font-size: medium;
            color: white;
            background-color: #96bffc;
            border: none;
        }

        #pass_label {
            margin-top: 15px;
        }
        #email_span{
            font-size: smaller;
            color: red;
            
        }
        #pass_span{
            font-size: smaller;
            color: red;
            margin-bottom: -20px;
        }
        #inp_buts label {
            font-size: large;
        }

        #horicontal_bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -30px;
            margin-bottom: 15px;
        }

        hr {
            height: 2px;
            width: 100%;
            background-color: hsl(0, 0%, 95%);
            border: 1px solid hsl(0, 0%, 95%);
        }

        #horicontal_bar p {
            color: hsla(0, 0%, 0%, 0.5)
        }

        #btns {
            text-align: center;

        }

        #btn1 {
            width: 100%;
            font-size: large;
            padding: 11px;
            border: 2px solid rgb(204, 204, 204);
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 18px;
        }
        #btn1 a{
            color: black;
            text-decoration: none;
        }

        #btn1 p {
            font-size: medium;
            

        }

        #btn2 {
            width: 100%;
            padding: 3px;
            border: 2px solid rgb(204, 204, 204);
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        #btn1:hover {
            border-color: black;
        }

        #btn2:hover {
            border-color: black;
        }

        #g_icon {
            font-size: large;
        }

        #g_icon img {
            width: 22px;
            padding-top: 2%;

            text-align: center;
            margin: auto;
            padding-right: 2%;
        }

        #g_icon a>p {
            font-size: medium;
        }

        #btn2 a {
            text-decoration: none;
            color: black;
        }

        #apple {
            margin-bottom: 20px;

        }

        #apple a {
            color: #b3aca5;
            text-underline-offset: 6px;
            font-weight: 400;

        }

        #apple a:hover {
            text-decoration-color: black;

        }

        button {
            cursor: pointer;
        }